.versus-page {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    padding: 25px 0;
}

.versus-page-title {
    text-align: center;
}

.versus-wrapper {
    display: flex;
    width: 100%;
}

.versus-section {
    flex: 1;
    margin: 0 20px;
}

.versus-table-title {
    font-size: 12pt;
    width: 100%;
    text-align: center;
}

.versus-table-wrapper {
    margin: 20px 0;
}