.tab-events-header {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
    flex-wrap: wrap;

    &-item {
        padding: 0;
        background: transparent;
        border: 1px solid transparent;
        margin-bottom: -1px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;

        &:hover {
            border: 1px solid #dee2e6;
        }

        &.active {
            border: 1px solid #dee2e6;
            border-bottom: 1px solid white;
        }
        
        &-image {
            width: 25px;
            height: 25px;
            margin: 7px;
            filter: saturate(0) brightness(1.4);
        }
    }
}

.medium-row {
    line-height: 30px;
    vertical-align: middle;
}

.table-comment { 
    text-align: center;
    vertical-align: middle!important;
}

.puzzle-image {
    filter: saturate(0) brightness(1.4);
}