.leaderboards {
    width: 85%;
    margin: 0 auto;

    &-event {
        &-header {
            display: flex;
            justify-content: space-between;
            margin: 5px 0;
            font-size: 20pt;

            &-scrambles-button {
                display: flex;
                flex-shrink: 1;
                padding: 0;
                background: transparent;
                border: 0;
                color: #999999;

                &.scrambles {
                    margin: 0;
                }
            }
        }
    }

    &-collection {
        display: flex;
        flex: 1;
        flex-direction: column;

        &-table {
            width: 75%;
            margin: 15px auto;
        }
    }
}